* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
  }

header {
  font-size: 18px;
  background-color: #333;
  color: #fff;
  padding: 18px;
}
.logo {
position: relative;
-webkit-box-reflect: below -20px liner-gradient(transparent, color blue);
}
.logo span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  animation: wavy 2s;
  animation-delay: calc(.1s * var(--i));
  animation-iteration-count: infinite;
}
@keyframes wavy {

  0%,
  40%,
  100% {
      transform: translateY(0)
  }

  20% {
      transform: translateY(-20px)
  }
}

ul {
    list-style: none;

    

}
li {
    justify-content: start;
    margin: 0;
    display: inline;
    padding-right: 5px;
}
a {
    color: #fff;
    text-decoration: none;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}  
a:hover {
    text-decoration: underline;
  }

article {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
  }
  .anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}

a.x {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}
a.x:hover {
  background-color: #444;
}
footer {
  
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  
  

 
    
    
}
