* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
  }
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 50px;
    height: 50px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444;
}

.svg-icon {

    position: absolute;
    top: .150em;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    fill: currentColor;
    transition: fill .3s;
}
header {
  font-size: 18px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding-top: 5px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
 
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.aboutusSection {
  height: 77vh;

}

.newanime {
 
  background-color: #333;
  
  padding: 16px;
  font-size: 20px;
  border: none;
  height: 50px;
  margin: 100;
  
}
.plusanime {
  background-color: rgba(51, 51, 51, 0); 
  border: none; 
  color: white; 
  padding: 0px; 
  
  text-decoration: none; 
  display: inline-block; 
  margin: 0; 
  position: absolute;
  right: 10px; 
}
.plusanime:hover {
  
}

a.s {
  color: #fff;
  font-size: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fffffff5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #444;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #ccc;
}

.vvod {
  display: flex;
  
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;

}

.logo {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  font-size: 30px;
}

.logo span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  animation: wavy 2s;
  animation-delay: calc(.1s * var(--i));
  animation-iteration-count: infinite;

}

@keyframes wavy {

  0%,
  40%,
  100% {
      transform: translateY(0)
  }

  20% {
      transform: translateY(-20px)
  }
}

a {
  color: black;
  text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}  
a:hover {
    text-decoration: underline;
  }

article {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
  }
  .anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}

.description {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}
.description:hover {
  background-color: #444;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 10px;   
}

/*footer {
  position: fixed;
  padding: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  color: white;
  text-align: center;
}
*/
div.aboutus{
  font-size: 26px;
}
